{% extends 'base.html.twig' %}

{% block content %}
    <main role="main" class="container">

        <div class="starter-template">
            {% for post in posts %}
                <div class="border">
                    <h2>{{ post.title }}</h2>
                    <p class="lead">{{ post.body }}</p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}